@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(0, 0%, 0%);
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@media only screen and (min-width: 2000px) {
  .footer-wrapper {
    width: 1600px;
  }
}

@media only screen and (min-width: 2000px) {
  .footer-container {
    display: flex;
    justify-content: center;
  }
}

/* scrollbar */
.disable-scrollbars::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
  /* Chrome/Safari/Webkit */
}

.disable-scrollbars {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}

.hover-icon:hover svg {
  stroke: #fafafa;
  /* Change color to white on hover */
  transition: all 300ms;
}

.gradient-overlay {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    #000000 50%,
    #000000 100%
  );
}

.snap-center {
  scroll-snap-align: center;
}

/* reown appkit modals */
w3m-modal.open {
  z-index: 99999 !important;
}


/* Style for our custom scroll classes */
.bitte-custom-scrollbar,
.bitte-custom-scrollview {
  --sb-track-color: #18181b;
  --sb-thumb-color: #334155;
  --sb-thumb-hover-color: #64748b;
  --sb-size: 10px;
  --sb-padding: 8px;
  padding-right: var(--sb-padding);
  box-sizing: border-box;
}

.bitte-custom-scrollbar::-webkit-scrollbar,
.bitte-custom-scrollview::-webkit-scrollbar {
  width: var(--sb-size);
  height: var(--sb-size);
}

.bitte-custom-scrollbar::-webkit-scrollbar-track,
.bitte-custom-scrollview::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 11px;
  margin: 4px;
}

.bitte-custom-scrollbar::-webkit-scrollbar-thumb,
.bitte-custom-scrollview::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 11px;
  border: 2px solid var(--sb-track-color);
}

.bitte-custom-scrollbar::-webkit-scrollbar-thumb:hover,
.bitte-custom-scrollview::-webkit-scrollbar-thumb:hover {
  background: var(--sb-thumb-hover-color);
}

/* Apply scrollbar styles to children of elements with the bitte-custom-scrollbar class */
.bitte-custom-scrollbar * {
  --sb-track-color: #18181b;
  --sb-thumb-color: #334155;
  --sb-thumb-hover-color: #64748b;
  --sb-size: 10px;
}

.bitte-custom-scrollbar *::-webkit-scrollbar {
  width: var(--sb-size);
  height: var(--sb-size);
}

.bitte-custom-scrollbar *::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 11px;
  margin: 4px;
}

.bitte-custom-scrollbar *::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 11px;
  border: 2px solid var(--sb-track-color);
}

.bitte-custom-scrollbar *::-webkit-scrollbar-thumb:hover {
  background: var(--sb-thumb-hover-color);
}

@supports not selector(::-webkit-scrollbar) {
  .bitte-custom-scrollbar,
  .bitte-custom-scrollview {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    scrollbar-width: thin;
    padding-right: var(--sb-padding);
  }

  .bitte-custom-scrollbar * {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    scrollbar-width: thin;
  }
}

body {
  --sb-track-color: #18181b;
  --sb-thumb-color: #334155;
  --sb-size: 10px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 11px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 11px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

/* scrollbar */
.bitte-disable-scrollbars::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
  /* Chrome/Safari/Webkit */
}

.bitte-disable-scrollbars {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}